.App {

}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  padding: 20px;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ProviderSelect
{
  border-radius: 5px;
  margin: 5px;
  background-color: transparent;
}

.ToolBar {
  display: flex;
}

.LeftDock {
  text-align: left;
}

.RightDock {
  text-align: right;
}

.providerManagerButton {
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

.Dashboard-content {
  margin: 20px;
}

.TableManager {
  margin: 20px;
}
