.App {

}

.App-header {
  background-color: #4ab4ff;
  height: 10vh;
  display: flex;
  padding: 0px 20px 0px 20px;
  margin: 0;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: #FFFFFF;
  // box-shadow: 0 4px 2px 0px rgba(100, 100, 100, 0.3);
}

.MainContent
{
  height: 89vh;
  padding: 0;
  display: flex;
  font-family: 'Lato';
}

.Dashboard-Container
{
  border: 0.1px solid rgba(0,0,0,0);
  height: 100%;
  width: 20%;
  background-color: #f5f5f5;
  font-family: 'Lato';
}

.questionText {
  color: #4ab4ff;
}

.textAreaInput {
  font-family: 'Lato';
  color: #333333;
  border-radius: 5px;
  border: none;
}

.QuestionPreview
{
  float: right;
  border: 0.1px solid rgba(0,0,0,0);
  width: 20%;
  padding: 20px;
  flex-grow: 1;
  background-color: #f9f9f9;
  font-family: 'Lato';
  animation-name: animatetop;
    animation-duration: 1s;
}

@keyframes animatetop {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}


.ProviderManager {
  padding: 20px;
  float: left;
  min-width: 800px;
  flex-grow: 2;
  animation-name: animatetop;
    animation-duration: 1s;
}

.ProviderSelect
{
  border-radius: 5px;
  margin: 5px;
  background-color:transparent;
  border: none;
  width: 100%;
  display:inline-block;
  text-align: left;
  cursor:pointer;
  color:#4abfff;
  font-size:17px;
  padding:5px 31px;
  text-decoration:none;
  box-shadow: none;
  font-family: 'Lato';
}

.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

.ProviderSelect:hover {
	background-color: #e1f2fe;
}
.ProviderSelect:active {
	position:relative;
  background-color: #b6ddfe;
	top:1px;
}

.ToolBar {
  display: flex;
  width: 100%;
}

.TableButton
{
  border: 1px solid #4abfff;
  background-color: transparent;
  margin: 10px;
  border-radius: 5px;
}

.TableButton:hover {
  background-color: #f0f0f0;
}

.TableButton:active {
  background-color: #eeeeee;
}

.LeftDock {
  text-align: left;
  width: 50%;
}

.RightDock {
  float: right;
  text-align: right;
  width: 50%;
}

button {
  font-family: 'Lato';
}

.providerManagerButton {
  margin: 20px;
  border: none;
  background-color: transparent;
}

.App-link {
  color: #61dafb;
}

.Dashboard-content {
  margin: 20px;
}

.TableManager {
  margin: 20px;
}

.handsontable td.headerformat {
  background: #F44336
}
